<div class="main" id="main">
    <div class="container1">
        <div class="nav">
            <div class="navleft">
               <a href="#main"> <img src="../../assets/img/navbar-logo.svg" alt="start bootstrap"></a>
            </div>
            <div class="box" >
                <h3>Menu</h3>
                <i class="far fa-bars" ></i>

            </div>
            <div class="navright">
                    <li><a href="#container2service">SERVICE</a></li>
                    <li><a href="#main2portfolio">PORTFOLIO</a></li>
                    <li><a href="#main3about">ABOUT</a></li>
                    <li><a href="#teamheadingteam">TEAMS</a></li>
                    <li><a href="#main4contact">CONTACT</a></li>
            </div>

        </div>
        <div class="droplist">
            
        </div>

        <div class="container1center" id="con1">
            <p style="color: white;">Welcome To Our Studio!</p>
            <h1 class="p2">IT'S NICE TO MEET YOU</h1>
            <button>Tell Me More</button>
        </div>

    </div>


    <div class="container2" id="container2service">
        <div class="head">
            <h1>services</h1>
            <h6>Lorem Ipsum Polar Sit Amet </h6>
        </div>
        <div class="content">
            <div class="contentdata">
                <h2>E-Commerce</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae nulla provident doloribus illum quia
                    iure quo quasi accusamus similique expedita </p>
            </div>

            <div class="contentdata">
                <h2>Responsive Design</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ratione provident quos explicabo
                    nesciunt omnis vel optio. Itaque ullam laborum eligendi </p>

            </div>

            <div class="contentdata">
                <h2>Web Security</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quam, autem maxime quo quasi, dolore
                    neque atque soluta, ut dolor sed molestiae placeat.</p>
            </div>
        </div>
    </div>


</div>







<div class="main2" id="main2portfolio">
    <div class="headingofportfolio">
        <h2>PORTFOLIO</h2>
        <h6>Lorem ipsum dolor sit amet</h6>
    </div>
    <div class="imagecontainer">
        <div class="img1 aut1">
            <img src="../../assets/img/portfolio/01-thumbnail.jpg" alt="err">
            <div class="imgdata">
                <div class="porthead">Threads</div> 
                <div class="portsubhead">illusion</div>
            </div>
        </div>
        <div class="img1">
            <img src="../../assets/img/portfolio/02-thumbnail.jpg" alt="err">
            <div class="imgdata">
                <div class="porthead">Explore</div>
                <div class="portsubhead">Graphic Design</div>
            </div>
        </div>
        <div class="img1">
            <img src="../../assets/img/portfolio/03-thumbnail.jpg" alt="err">
            <div class="imgdata">
                <div class="porthead">Finish</div>
                <div class="portsubhead">Identify</div>
            </div>
        </div>
        <div class="img1">
            <img src="../../assets/img/portfolio/04-thumbnail.jpg" alt="err">
            <div class="imgdata">
                <div class="porthead">Line</div>
                <div class="portsubhead">Branding</div>
            </div>
        </div>
        <div class="img1">
            <img src="../../assets/img/portfolio/05-thumbnail.jpg" alt="err">
            <div class="imgdata">
                <div class="porthead">South West</div>
                <div class="portsubhead">Website Design</div>
            </div>
        </div>
        <div class="img1">
            <img src="../../assets/img/portfolio/06-thumbnail.jpg" alt="err">
            <div class="imgdata">
                <div class="porthead">Window</div>
                <div class="portsubhead">Photography</div>
            </div>
        </div>
    </div>


</div>










<div class="main3" id="main3about">

    <div class="headingofabout">
        <h2>ABOUT</h2>
        <h6>Lorem ipsum dolor sit, amet.</h6>
    </div>

    <div class="flowcontainer">

        <div class="step step1 img1">
            <div class=" data">
                <h3>20009-2011</h3>
                <h2>20009-2011March 2011 </h2>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore aut consequatur, sint neque
                itaque ea harum quasi repellendus corporis?</p>
            </div>
        </div>


         <div class="step step2 img2">
            
            <div class="data">
                <h3>An Agent Is Born</h3>
                <h2>Our Humble Beginnings</h2>
      
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore aut consequatur, sint neque
                itaque ea harum quasi repellendus corporis?</p>
            </div>
        </div>


        <div class="step step1 img3" >
            <div class="data">
                <h3>December 2011</h3>
                <h2>Transition To Full Service</h2>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore aut consequatur, sint neque
                itaque ea harum quasi repellendus corporis?</p>
            </div>
        </div>


        <div class="step step2 img4">
            <div class="data">
                <h3>July 2014</h3>
                <h2>Phase Two Expansion</h2>
       
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore aut consequatur, sint neque
                itaque ea harum quasi repellendus corporis?</p>
            </div>
          
       
        </div> 
        
    </div>
    <div class=" last img5">
        
    </div> 
  




</div>



<div class="main4" id="teamheadingteam">

<div class="teamheading">
<h2>Our Amazing Team</h2>
<h6>Lorem ipsum dolor sit amet.</h6>
</div>

<div class="teamcontainerofdata">
    <div class="imgdata">
        <img src="../../assets/img/team/team1.jpg" alt="err">
        <h2>Kay Graland</h2>
        <h6>lead designer</h6>
    </div>
    <div class="imgdata">
        <img src="../../assets/img/team/team2.jpg" alt="err">
        <h2>Larry Parker</h2>
        <h6>lead designer</h6>
    </div>  
    <div class="imgdata">
        <img src="../../assets/img/team/team3.jpg" alt="err">
        <h2>Kay Graland</h2>
        <h6>lead designer</h6>
    </div>
    </div>

<div class="longdatabelowimgdata">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugiat laboriosam velit voluptatum id, quia et exercitationem vel reiciendis quis.
</div>
<div class="logos">
    <div class="logopsdata">
        <img src="../../assets/img/logos/creative-market.jpg" alt="err">
        <img src="../../assets/img/logos/designmodo.jpg" alt="err">
        <img src="../../assets/img/logos/envato.jpg" alt="err">
        <img src="../../assets/img/logos/themeforest.jpg" alt="err">
    </div>


</div>

</div>


<div class="main4contact" id="main4contact">
<div class="contactheading">
<h2>CONTACT US</h2>
<h6>Lorem ipsum dolor sit amet.</h6>
</div>
<div class="inputfields">
    <div class="inputdata">
        <input type="text" placeholder="Your Name*">
        <input type="email" name="email" id="email" placeholder="Your Email*">
        <input type="tel" name="number" id="number" placeholder="Your Number*">
    </div>
   
    <div class="textarea">
        <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="Your Message*"></textarea>
    </div>
</div>
<div class="sendbutton">
    <button>SEND MESSAGE</button>
</div>
</div>


<div class="footer">
    <h6>Copyright &copy; Your Website 2022</h6>
    <div class="data">
        <ul>
            <li><a href="#">privacy</a></li>
            <li><a href="#">Terms Of Use</a></li>
        </ul>
    </div>
   
</div>